:host {
  display: block;
}

.seller-content {
  padding-left: 0;
}

@media (min-width: 1024px) {
  .seller-content {
    padding-left: 16rem;
  }

  .seller-content.is-collapsed {
    padding-left: 5rem;
  }
}
