<!-- TopAppBar Contextual -->
<header class="sticky top-0 w-full bg-white/80 dark:bg-slate-900/80 backdrop-blur-xl z-40">
	<div class="flex justify-between items-center w-full px-8 py-4 max-w-7xl mx-auto">
		<div>
			<h1 class="text-2xl font-black tracking-tighter text-blue-800 dark:text-blue-300">Admin Panel</h1>
		</div>
		<div class="flex items-center gap-3 pl-6 border-l border-slate-200 dark:border-slate-800">
			<div class="text-right">
				<p class="text-sm font-bold text-on-surface">Admin Name</p>
			</div>
			<img alt="Admin Profile" class="w-10 h-10 rounded-full bg-slate-100 border-2 border-primary-fixed shadow-sm" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAP2Kxu6RdFSO_KfOzaiU7CN3LDDeynzcvOu76pfDzSCrotLEFfyh88zcjpdKdN8YX437Zc7vK4A7Z92Y3yPau3l9gWs1ULNopmPvGMPkZ0uLYBeYvD7lJzV7QsnM_e5gpM2Q4eYww_XI8FgfqS0m1hG-HB4JViL65kyZWmPM9buCOkZxEISnAp_iBQsb8kOTruXi929ERGjsH5rwkH2tIoYV-uaQbthjYQA2-Y196-EUf3nvuejETAvY2Cm_hLIRKzEbjX278Gpcwj" />
		</div>
	</div>
</header>
